$blue: #304ffe;
$dark_blue: #1e3ded;
$dark_blue_2: #021cac;
$border: #d7ecfb;
$brown: #aab2bd;
$dark: #435966;
$main: #505458;
$navy: #188ae2;
$purple: #5b69bc;
$white: #ffffff;
$white_light: #f5f7fa;

$info: #00aeff;
$info_hover: #00aeff;
$success: #00bf4f;
$success_hover: #00ce55;
$warning: #fbbc05;
$warning_hover: #ffa000;
$danger: #ea4335;
$danger_hover: #ff3838;
$violet: #7045ff;
$violet_hover: #8445ff;
$orange: #ff460b;
$orange_hover: #ff6230;
$muted: #f4f8fb;
$inverse: #212121;
$pink: #ff8acc;
$mobile_bg: #306ffe;