<div id="single-wrapper">
	<form action="#" class="frm-single">
		<div class="inside">
			<div class="title"><img src="https://leasetherepayhere.com/images/logo-large.png" ></div>
			<!-- /.title -->
            <!-- /.frm-title -->
                <p style="color:red" id="error-msg"></p>
      <div class="frm-input"><input type="text" id="login_email" placeholder="Email" class="frm-inp"><i class="fa fa-user frm-ico"></i>
      <span id="error_email"></span>
      </div>
			<!-- /.frm-input -->
      <div class="frm-input"><input type="password" id="login_password" placeholder="Password" class="frm-inp"><i class="fa fa-lock frm-ico"></i>
        <span id="error_password"></span>
      </div> 
			<!-- /.frm-input -->
			<div class="clearfix margin-bottom-20">
				<div class="pull-left">
					<div class="checkbox primary"><input type="checkbox" id="rememberme"><label for="rememberme">Remember me</label></div>
					<!-- /.checkbox -->
				</div>
				<!-- /.pull-left -->
				<div class="pull-right"><a href="https://leasetherepayhere.com/password/reset" class="a-link"><i class="fa fa-unlock-alt"></i>Forgot password?</a></div> 
				<!-- /.pull-right -->
			</div>
            <!-- /.clearfix -->
            <button class="frm-submit">Login<i class="fa fa-arrow-circle-right"></i></button>
			<button style="display:none;" id="terms" type="button" data-toggle="modal" data-target="#myModal"></button>
			<div class="row small-spacing">
				<div class="col-sm-12">
					
				</div>
			</div>
			<!-- /.row -->
			<div class="frm-footer text-center">Lease There Pay Here © 2021</div>
			<!-- /.footer -->
		</div>
		<!-- .inside -->
	</form>
	<!-- /.frm-single -->
</div><!--/#single-wrapper -->